@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
}

html, body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    min-height: 100%;
}

#main {
    height: 1000px;
    width: 100%;
    position: fixed;
}

#main:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("background.jpeg");
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
}

#gradientOn {
    position: absolute;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    background: linear-gradient(blue, 10%, purple);

}

#ourSlogan {
    text-align: center;
    font-size: 70px;
    display: block;
    margin: 100px auto;
    width: 70%;
    position: absolute;
    left: 15%;

}

#ourSlogan p {
    font-family: 'Raleway', sans-serif;
    color: white;

}

.example_a {
    margin-top: 200px;
    color: #fff !important;
    text-transform: uppercase;
    background: rebeccapurple;
    padding: 35px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    font-family: Raleway;
    font-size: 30px;
    text-decoration: none;
    margin-top: 520px;
}

.example_a:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

.button_cont {
    position: inherit;
}

p {
    margin-top: 200px;
}

.centered {
    position: sticky; /* or absolute */
    left: 50%;
}

#logoSection {
    margin-top: 50px;
    position: absolute;
    margin-left: 23%;
}

img {
    padding-right: 80px;
}