@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
    font-family: "Open Sans";
}

/* -------- */
/* HOMEPAGE */
/* -------- */


/* -------------- */
/* EXECUTION PAGE */
/* -------------- */

.base_layout {
    margin-top: 100px;
}

.rm_tasks {
    font-family: "Open Sans";
    display: flex;
    flex-wrap: nowrap;
    background-color: #d9d9d9;
}

.rm_task {
    background-color: #f1f1f1;
    border: lightgray solid 1px;
    width: 360px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;

}

.timerow {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
}

.timerow > h1 {
    font-family: "Open Sans";
    width: 360px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 15px;
}

.rm_nextstep_button {
    font-size: 32px;
    border-radius: 10px;
    font-family: "Open Sans";
    border: lightgray solid 1px;


    padding-top: 10px;
    padding-bottom: 10px;

    width: 300px;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    background-color: #39ac39;
    color: white;

    -webkit-transition-duration: 0.4s; /*Safari*/
    transition-duration: 0.4s;
}

.rm_nextstep_button:active {
    background-color: green;
}

.rm_activitybar {
    display: flex;
    flex-direction: column;
}

.activity_row {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#edit-task-btn {
    margin-right: 2%;
}

#delete-btn {
    margin-left: 2%;
}

.rm_activity_edit {
    border-radius: 10px;
    font-family: "Open Sans";
    border: lightgray solid 1px;
    padding: 10px;


    width: 48%;
    text-align: center;

    font-size: 18px;

    background-color: white;
    color: black;
}
.background-color > div {
    border: yellowgreen;
}

.bottom_row {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 300px;

}

.informationrow {
    font-family: "Open Sans";
    font-weight: normal;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: minmax(200px, 1fr) 200px 200px;
    padding: 20px 0 60px 0;
    font-size: 100%;
}

.informationrow > h1 {
    color: black;
    font-size: 25px;
    padding-left: 40px;
}


/* ------- */
/* TOOLBAR */
/* ------- */

.toolbar {
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    background: purple;
    height: 56px;
    z-index: -5;
}

.toolbar_logo {
    margin-left: 1rem;
}

.toolbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.spacer {
    flex: 1;
}

.toolbar_logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.toolbar_navigation_items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation_items li {
    padding: 0 0.5rem;
}

.toolbar_navigation_items a {
    color: white;
    text-decoration: none;
}

.toolbar_navigation_items a:hover,
.toolbar_navigation_items a:active {
    color: orange;
}


/* ----------- */
/* CREATE TASK */
/* ----------- */

#page-title {
    margin-top: 80px;
    font-family: "Raleway";
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.form-container {
    height: 50%;
    width: 50%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

form {
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
}

.form-column {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.form-row {
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
}

#time1, #time2 {
    display: flex;
    flex-direction: row;
}

#amount-div, #edit-div{
    display: none;

}

select, input, #submit-btn, #edit-btn {
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    height: 50px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#unit, select, input, #submit-btn, #edit-btn {
    font-family: "Open Sans";
    font-size: 18px;
    border: lightgray solid 1px;
}

#unit {
    color: white;
}

select {
    width: 100%;

  background: url(http://www.foxrep.com/wp-content/uploads/2017/11/Down-Arrow-PNG.png)
    96% / 5% white no-repeat;
}

select-items {
  background-color: #39ac39;
}

#submit-btn {
  background-color: #39ac39;
  color: white;
  width: 100%;
}

#submit-btn:active {
  background-color: green;
}

#edit-btn {
  background-color: royalblue;
  color: white;
  width: 100%;
}

#edit-btn:active {
  background-color: mediumblue;
}


.input-time {
  width: 30%;
  margin-right: 5%;
}

.input-date {
  width: 65%;
}

#amount-input {
  width: 100%;
}

/*KARLI GRAPHID ÄRA PUUTU*/

#chart1 {
  position: relative;
  top: -45%;
  left: 20%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#chart2 {
  position: relative;
  top: -45%;
  left: 25%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.toolbar {
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
  background: purple;
  height: 56px;
  z-index: 5;
}

.toolbar_logo {
  margin-left: 1rem;
}

.toolbar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.spacer {
  flex: 1;
}

.toolbar_logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.toolbar_navigation_items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation_items li {
  padding: 0 0.5rem;
}

.toolbar_navigation_items a {
  color: white;
  text-decoration: none;
}

.toolbar_navigation_items a:hover,
.toolbar_navigation_items a:active {
  color: orange;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

#container,
#container1,
#container2 {
  padding-top: 0.5%;
  margin-left: 20px;
  width: 400px;
  height: 8px;
}

#xdxd {
  padding-top: 5%;
  margin-left: 20px;
  padding-bottom: 0%;
  font-weight: bold;
}

#dxdx {
  padding-top: 0.2%;
  margin-left: 20px;
  color: #ffae42;
  -webkit-text-stroke: 0.05px yellow;
  font-weight: bold;
}

#suema {
  float: center;
  color: darkgreen;
  text-shadow: 1px 1px lightgoldenrodyellow;
}

#tood {
  position: relative;
  left: 58%;
  width: 35%;
  top: 10%;
}

#dxdx1 {
  padding-top: 0.2%;
  margin-left: 20px;
  color: #ff4500;
  -webkit-text-stroke: 0.05px yellow;
  font-weight: bold;
}

#dxdx2 {
  padding-top: 0.2%;
  margin-left: 20px;
  color: green;
  -webkit-text-stroke: 0.05px yellow;
  font-weight: bold;
}
