/*  ----------------------  */
/*  -----  BACKDROP  -----  */
/*  ----------------------  */

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

/*  ----------------------------  */
/*  -----  DATA COMPONENT  -----  */
/*  ----------------------------  */

.DataComponent {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

body {
    background-color: #660066;
}

.activity {
    position: relative;
    left: 10%;
}

.timeValue {
    position: relative;
    left: 35%;
}

.timeLabel {
    position: relative;
    left: 30%;
}

#positiveButton {
    position: relative;
    left: 10%;
}

#negativeButton {
    position: relative;
    left: 15%;
}

/*  ----------------------------------  */
/*  -----  DRAWER TOGGLE BUTTON  -----  */
/*  ----------------------------------  */


.toggle-button {
    display: flex;
    height: 24px;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button_line {
    width: 30px;
    height: 2px;
    background: white;
}

/*  -----------------------------------  */
/*  -----  FORMS COMPONENT STYLE  -----  */
/*  -----------------------------------  */

.input {
    margin-top: 5px;
    margin-bottom: 5px;
}

input {
    background-color: white;
    border: solid #cccccc 1px;
    border-radius: 8px;
    height: 50px;
    width: 300px;
    font-size: 24px;
    color: black;
    padding: 10px;
}

.row {
    margin: 0 auto;
}

.col-md-1 {
    position: absolute;
    margin-left: 50%;
    transform: translateX(-150px);
    top: 60%;

}

#SubmitButton {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%);
}

#activityForm {
    width: 100%;
    height: 25em;
}

#dataInsert {
    position: absolute;
    top: 60%;
}

.timeValueClass {
    padding-right: 20px;
    padding-left: 20px;
}

/*  -------------------------  */
/*  -----  SIDE DRAWER  -----  */
/*  -------------------------  */

.side-drawer {
    height: 100%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.side-drawer.open {
    transform: translateX(0);
}

.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-drawer li {
    margin: 0.5rem;
}

.side-drawer a {
    color: #521751;
    text-decoration: none;
    font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
    color: orangered;
}

/*  -----------------------  */
/*  -----  TOOLBAR  -------  */
/*  -----------------------  */

.toolbar {
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    background: purple;
    height: 56px;
}

.toolbar_logo {
    margin-left: 1rem;
}

.toolbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.spacer {
    flex: 1;
}

.toolbar_logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.toolbar_navigation_items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation_items li {
    padding: 0 0.5rem;
}

.toolbar_navigation_items a {
    color: white;
    text-decoration: none;
}

.toolbar_navigation_items a:hover,
.toolbar_navigation_items a:active {
    color: orange;
}

/*  ---------------------  */
/*  -----  INDEX  -------  */
/*  ---------------------  */

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

html {
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}